# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.PurificationPioneer.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Unity\Moba\PurificationPioneer\.idea\.idea.PurificationPioneer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
